/* GENERICS */

body {
    background-color: #111;
}

main {
    height: 90vh;
}

a {
    text-decoration: none;
}

/* MAIN */

.main-header .actions {
    text-align: right;
    position: relative;
    top: 5px;
}


.main-header a {
    background-color: #4A4A4A;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: .7rem;
}

.main-central {
    margin-top: 40px;
}

.row {
    width: 90vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.col {
    position: relative;
    background-image: url(https://picsum.photos/185/100?random);
    width: 185px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.col .col-text {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: grayscale(.8);
    font-size: 14px;
    padding: 3px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #222222;
}

.footer.left a ,
.footer.main a {
    display: inline-block;
    color: #fff;
    margin: 0 20px 0 5px;
    text-align: center;
}

#green-icon {
    color: #4BC800;
}

.footer.right {
    height: 10vh;
    background-color: #4A4A4A;
}

.footer.right a {
    color: red;
    padding: 0 10px;
    line-height: 10vh;
}

.arrow {
    font-size: 8px;
    margin-left: 0;
    position: relative;
    right: 10px;
    bottom: 10px;
}