/* SORT-UP */

/* #4A4A4A COLORI TASTI IN ALTO A DX */

/* GENERICS */

body {
    background-color: #111;
}

main {
    height: calc(100vh - 80px);
}

a {
    text-decoration: none;
}

/* MAIN */

.main-header {
    text-align: right;
    margin: 5px 0 20px;
}

.main-header a {
    background-color: #4A4A4A;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
    padding: 2px;
    font-size: .8rem;
}

.row {
    width: 90vw;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.col {
    position: relative;
    background-color: red;
    width: calc(100% / 7);
}

.col > img {
    object-fit: cover;
    height: 100%;
}

.col .col-text {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: grayscale(.8);
    font-size: 14px;
    padding: 3px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    height: 80px;
    background-color: #222222;
}